[Unit]
Description=Ehdtd Daemon
After=network.target NetworkManager.service NetworkManager-wait-online.service networking.service postgresql.service mariadb.service mysql.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/sbin/ehdtd-daemon start
ExecStop=/bin/bash /usr/sbin/ehdtd-daemon stop
TimeoutStartSec=320
TimeoutStopSec=320
[Install]
WantedBy=multi-user.target

